<form action="">
  <label for="pokeTypes">Filter Pokémon</label>
  <div class="container">
    <div class="select">
      <select name="types" id="pokeTypes" aria-label="Select a Pokémon type" #pokeTypes
        (change)="filterPokemonsByType(pokeTypes.value)">
        <option disabled selected>Select a Pokémon type</option>
        <option value="" aria-label="View All Pokémon">View All Pokémon</option>
        <option *ngFor="let type of types" [value]="type.url">{{type.name}}</option>
      </select>
    </div>
    <div class="error-container">
      <div class="input-container">
        <input type="number" placeholder="Filter by Pokémon ID" aria-label="Filter by Pokémon ID" #pokemonIdInput>
        <button type="button" (click)="filterPokemonsById(pokemonIdInput.value)">Search</button>
      </div>
    </div>
    <div class="error-container">
      <div class="input-container">
        <input type="text" placeholder="Filter by Pokémon Name" aria-label="Filter by Pokémon Name" #pokemonNameInput>
        <button type="button" (click)="filterPokemonsByName(pokemonNameInput.value)">Search</button>
      </div>
    </div>
  </div>
  <span *ngIf="error">{{error}}</span>
</form>
