header {
  display: flex;
  flex-direction: row;
  padding: 12px;
  background-color: #ececec;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  height: 12vh;
  align-items: center;
  justify-content: space-between;
  h1 {
    padding-inline-start: 5vw;
    color: black;
  }
}
