.pokeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  .pokemon {
    list-style: none;
    a {
      background-color: #f7f7f7;
      box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      list-style: none;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 1px solid black;
      width: 65vw;
      gap: 1vh;
      border-radius: 20px;
      padding: 1vh;
      isolation: isolate;
      overflow: hidden;
      text-decoration: none;
      color: black;
      img {
        margin-top: 2rem;
        width: 60vw;
        height: 60vw;
      }
      .typeList {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .type {
          padding: 0.5rem;
          border: 0.5px solid black;
          border-radius: 50%;
        }
      }
    }
  }
  .backCard {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: #ececec;
  }
}

@media (min-width: 767px) {
  .pokeList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
    .pokemon {
      a {
        width: 25vw;

        img {
          width: 22vw;
          height: 22vw;
        }
      }
    }
  }
}

@media (min-width: 1439px) {
  .pokeList {
    .pokemon {
      a {
        width: 16vw;
        img {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }
}
.normal {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #a8a878;
}
.fire {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #f08030;
}
.water {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #6890f0;
}
.grass {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #78c850;
}
.electric {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #f8d030;
}
.ice {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #98d8d8;
}
.fighting {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #c03028;
}
.poison {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #a040a088;
}
.ground {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #e0c068;
}
.flying {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #a890f0;
}
.psychic {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #f85888;
}
.bug {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #a8b820;
}
.rock {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #b8a038;
}
.ghost {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #705898;
}
.dark {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #705848;
}
.dragon {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #7038f8;
}
.steel {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #b8b8d0;
}
.fairy {
  padding: 0.5rem;

  border-radius: 10px;
  background-color: #f0b6bc;
}
